@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.43px;
    text-decoration: none;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    min-width: 320px;;
}

a {
    color: black;
}

main .title-and-desc-container  {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 60px;
    background-color: #dd8e54;
}

.title-and-desc-container .text-container {
    margin-left:  130px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-and-desc-container h1 {
    font-family: IBM Plex Serif, Poppins, Sans-serif;
    font-size: 3rem;
}

.title-and-desc-container h3 {
    font-family: IBM Plex Sans, Poppins, Sans-serif;
    font-weight: normal;
    font-size: 1.3rem;
    width: 60%;
}

