@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.43px;
    text-decoration: none;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    min-width: 320px;
}

html, body {
    width: 100%;
}

/*css for navbar*/
.navbar {
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: #191a1c; 
    position: fixed; 
    top: 0;
    z-index: 9999;
}

.navbar .site-title {
    margin-left: 100px; 
    font-size: 1.1rem;
    font-family: IBM Plex Serif, Poppins, Sans-serif;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-right: 100px;
}

.navbar li a, .navbar a:visited, .navbar a:active {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: IBM Plex Sans, Poppins, Sans-serif;
}

.navbar a {
    position: relative;
}

.navbar a::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: 3px solid white;
    transition: width 0.3s ease;
}

.navbar a:hover::after {
    width: 100%;
}

.navbar li {list-style: none;}

.hamburger {
    display: none; /* Hidden on larger screens */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    margin-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    width: 100%;
    height: 3px;
    background-color: white;
}

/*css for section one*/
.section-one {
    margin-top: 150px;
}

.section-one .newest-blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section-one .blog-banner{
    max-width:1500px;
    width: 90vw;
    height: 600px;
}

.section-one .blog-banner img{
    position: relative;
    filter: brightness(40%);
    transition: filter 0.3s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img  {
    border-radius: 20px;
}

.section-one .newest-blog-container a img:hover {
    filter: brightness(70%);
}

.section-one a {
    text-decoration: none;
}

.newest-blog-container .newest-blog-text-container {
    position: absolute;
    bottom: 80px;
    margin-left: 50px;
    color: #fafafa;
    z-index: 1;
    max-width: 600px;
    width: 100%;
}

.newest-blog-text-container h1 {
    font-size: 3rem;
    font-family: IBM Plex Serif, Poppins, sans-serif;
}

.newest-blog-text-container h1, .newest-blog-text-container p {
    padding-bottom: 10px;
}

.newest-blog-text-container .description  {
    font-size: 1.1rem;
    font-family: IBM Plex Sans, Poppins, Sans-serif;
}

.section-one .newest-blog-container {
    margin-bottom: 60px;
}

/*css for the latest articles*/
.latest-blog-container {
    max-width: 1500px;
    width: 100%;
    margin: auto;
}

.latest-blog-container h2 {
    font-size: 2rem;
    font-family: IBM Plex Serif, Poppins, Sans-serif;
}

.latest-blog-container .text-container {
    margin-bottom: 30px;
}

.latest-blog-container .latest-article-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.latest-article-container .articles-container {
    width: 250px;
}

.latest-blog-container .card-container {
    width: 250px;
    height: 140px;
    margin-bottom: 20px;
    position: relative;
}

.articles-container a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.card-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 20px;
}

.articles-container a:hover .card-container::after {
    opacity: 1;
}

.articles-container .title-container h4 {
    transition: color 0.3s ease, opacity 0.3s ease;
}

.articles-container a:hover .title-container h4 {
    color: rgba(0, 0, 0, 0.7);
    opacity: 0.8;
}

.articles-container a {
    color: black;
}

.articles-container .details-container {
    margin-bottom: 15px;
}

.genre {
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 5px;
    font-weight: 600;
}

.details-container .genre, .details-container .date {
    display: inline-block;
}

.details-container .date, .big-blog-container .date {
    font-size: 0.9rem;
    font-family: IBM Plex Sans, Poppins, Sans-serif;
    font-weight: 400;
}

.title-container h4{
    font-weight: 700;
}

.section-one {
    margin-bottom: 80px;
}

.articles-container .date, .genre, .title-container h4 {
    font-family: IBM Plex Serif, Poppins, Sans-serif;
} 

/*css for section two*/

.section-two {
    background: #191a1c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    overflow-x: hidden;
    flex-wrap: wrap;
}

.section-two .big-blog-container {
    width: 90%;
    height: auto;
    margin: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.big-blog-container .articles-container {
    width: 720px;
    height: auto;
    position: relative;
    margin-bottom: 20px;
}

.big-blog-container .articles-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

.section-two a, .section-two p, .section-two h4 {
    color: white;
    text-decoration: none;
}

.big-blog-container .genre {
    border: 1px solid white;
    padding: 10px 15px;
}

.big-blog-container .title-container h4 {
    font-size: 2rem;
}

.big-blog-container .title-container {
    margin-bottom: 20px;
}

.big-blog-container .description p {
    font-family: IBM Plex Sans, Poppins, Sans-serif;
    font-size: 0.98rem;
}

.big-blog-container .card-container {
    position: relative;
    
}

.big-blog-container .card-container::after{
    content: "";
    position: absolute;
    bottom: 26px;
    left: 0;
    width: 100%;
    height: 60%; 
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 20px;
}

.articles-container a:hover .card-container::after {
    opacity: 1;
}

.big-blog-container .date {
    font-size: 1rem;
}

.big-blog-container .articles-container a:hover .title-container h4 {
    color: rgba(255, 251, 251, 0.7);
    opacity: 0.8;
}

/*css for section three*/
.section-three .date{
    font-size: 0.9rem;
}

.section-three {
    margin-bottom: 50px;
}

/*css for footer*/
footer {
    width: 100vw;
    height: 50px;
    background-color: #191a1c;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h4, footer i {
    color: white;
    font-family: IBM Plex Sans, Poppins, Sans-serif;
}

footer h4 {
    font-weight: 400;
}

footer .text-container {
    margin-left: 100px;
}

footer .social-links {
    width: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

footer i {
    font-size: 1.5rem;
}

footer .links {
    display: flex;
    gap: 27px;
}

footer .fa-copyright {
    font-size: 1rem;
}

