@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.43px;
    text-decoration: none;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    min-width: 320px;;
}

a {
    color: black;
}

img {
    border-radius: 20px;
}
/*css for navbar*/
.navbar {
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: #191a1c; 
    position: fixed; 
    top: 0;
    z-index: 9999;
}

.navbar .site-title {
    margin-left: 100px; 
    font-size: 1.1rem;
    font-family: IBM Plex Serif, Poppins, Sans-serif;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-right: 100px;
}

.navbar li a, .navbar a:visited, .navbar a:active {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: IBM Plex Sans, Poppins, Sans-serif;
}

.navbar a {
    position: relative;
}

.navbar a::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: 3px solid white;
    transition: width 0.3s ease;
}

.navbar a:hover::after {
    width: 100%;
}

.navbar li {list-style: none;}

/*css for title-and-desc-container*/
.title-and-desc-container {
    width: 100vw;
    height: 400px;
}

.title-and-desc-container h1 {
    font-family: IBM Plex Serif, Poppins, Sans-serif;
}

.title-and-desc-container p {
    font-family: IBM Plex Sans, Poppins, Sans-serif;
}

/*css for footer*/
footer {
    width: 100vw;
    height: 50px;
    background-color: #191a1c;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h4, footer i {
    color: white;
    font-family: IBM Plex Sans, Poppins, Sans-serif;
}

footer h4 {
    font-weight: 400;
}

footer .text-container {
    margin-left: 100px;
}

footer .social-links {
    width: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

footer i {
    font-size: 1.5rem;
}

footer .links {
    display: flex;
    gap: 27px;
}

footer .fa-copyright {
    font-size: 1rem;
}
/*css for main*/
main {
    margin-top: 80px;
    margin-bottom: 80px
}

.main-article-container {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 55%;
    background-color: #bb7082;
    position: relative;
    margin-bottom: 300px;
}

.img-container {
    position: absolute;
    border: 1px solid black;
    width: 70%;
    height: 550px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-container img {
    border: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


