@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.43px;
    text-decoration: none;
}

body {
    min-width: 320px;;
}

a {
    color: black;
}
/*css for navbar*/
.navbar {
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: #191a1c; 
    position: fixed; 
    top: 0;
    z-index: 9999;
}

.navbar .site-title {
    margin-left: 100px; 
    font-size: 1.1rem;
    font-family: IBM Plex Serif, Poppins, Sans-serif;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-right: 100px;
}

.navbar li a, .navbar a:visited, .navbar a:active {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: IBM Plex Sans, Poppins, Sans-serif;
}

.navbar a {
    position: relative;
}

.navbar a::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: 3px solid white;
    transition: width 0.3s ease;
}

.navbar a:hover::after {
    width: 100%;
}

.navbar li {list-style: none;}

/*css for title-and-desc-container*/
.title-and-desc-container {
    width: 100vw;
    height: 400px;
}

.title-and-desc-container h1 {
    font-family: IBM Plex Serif, Poppins, Sans-serif;
}

.title-and-desc-container p {
    font-family: IBM Plex Sans, Poppins, Sans-serif;
}

main .title-and-desc-container  {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 80px;
    background-color: #ad8ebf;
}

.title-and-desc-container .text-container {
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-and-desc-container h1 {
    font-family: IBM Plex Serif, Poppins, Sans-serif;
    font-size: 3rem;
}

.title-and-desc-container h3 {
    font-family: IBM Plex Sans, Poppins, Sans-serif;
    font-weight: normal;
    font-size: 1.3rem;
    width: 60%;
}

/*css for the footer*/
footer {
    width: 100vw;
    height: 50px;
    background-color: #191a1c;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h4, footer i {
    color: white;
    font-family: IBM Plex Sans, Poppins, Sans-serif;
}

footer h4 {
    font-weight: 400;
}

footer .text-container {
    margin-left: 100px;
}

footer .social-links {
    width: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

footer i {
    font-size: 1.5rem;
}

footer .links {
    display: flex;
    gap: 27px;
}

footer .fa-copyright {
    font-size: 1rem;
}

/*css for the articles*/
.articles {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.article-container {
    width: 85%;
    height: 330px;
}

.img-container {
    width: 500px;
    height: 100%;
    flex-shrink: 0;
    position: relative;
}

.articles .genre {
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px 15px;
    text-align: center;
    font-family: IBM Plex Sans, Poppins, Sans-serif;
    font-weight: 700;
}

.articles .date {
    font-family: IBM Plex Sans, Poppins, Sans-serif;
    font-weight: 400;
}

.img-container img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.img-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-color: linear-gradient(transparent, rgba(0,0,0,0.8));
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 20px;
}

.article-container a:hover .img-container::after {
    opacity: 1;
}

.details-container, .genre-desc-container {
    display: flex;
}

.genre-desc-container {
    align-items: center;
    gap: 20px;
}

.articles a {
    display: flex;
    gap: 30px;
}

.details-container {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex-grow: 1;
}

.details-container h2 {
    font-family: IBM Plex Serif, Poppins, Sans-serif;
    font-size: 2rem;
    transition: color 0.3s ease;
}

.details-container p {
    font-family: IBM Plex Sans, Poppins, Sans-serif;
    font-size: 1.25rem;
}

.articles a:hover h2 {
    color: rgb(210, 210, 210);
}

